.generic {
    text-align: center;
    font-family: 'Times New Roman';
    background-color: gray;
    padding: 20px;
    margin-top: 4.3rem;
    color: white;
    padding-bottom: 50px;
}

.homeGeneric {
    text-align: center;
    font-family: 'Times New Roman';
    background-color: gray;
    padding: 20px;
    margin-top: 3.7rem;
    color: white;
    padding-bottom: 50px;
}

.links a:hover, 
.links a:active,
.links a.active {
    color:#95bcf0;
    padding-bottom: 0.25rem;
    border-bottom: 2px solid #95bcf0;
}