.generic {
    text-align: center;
    font-family: 'Times New Roman';
    background-color: gray;
    padding: 20px;
    margin-top: 4.3rem;
    color: white;
    padding-bottom: 50px;
}

.homeGeneric {
    text-align: center;
    font-family: 'Times New Roman';
    background-color: gray;
    padding: 20px;
    margin-top: 3.7rem;
    color: white;
    padding-bottom: 50px;
}

.contents {
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    justify-content: center;
    display: flex;
    /* margin-left: 6.6rem; */
}

.links a:hover, 
.links a:active,
.links a.active {
    color:#95bcf0;
    padding-bottom: 0.25rem;
    border-bottom: 2px solid #95bcf0;
}